.joinWrap{
    padding:50px;
    .title{
        text-align: center;
        font-size: 2.5rem;
    }
    .joinForm{
        .textField{
        }
        .joinBtn{
            margin-top:1rem;
        }
    }
}