.joinWrap{
    padding:50px;
    .title{
        text-align: center;
        font-size: 2.5rem;
    }
    .joinForm{
        .textField{
            &>div{
                &.error:after{
                    border-bottom-color: red;
                }
            }
        }
        .joinBtn{
            margin-top:1rem;
        }
    }
}