.lists {
	.table {
		th,
		td {
			padding: 4px 24px;
		}
		.row1 {
			width: 10%;
			padding: 4px 15px;
		}
		.row2 {
			width: 50%;
			a {
				color: rgba(0, 0, 0, 0.87);
			}
		}
		.row3 {
			width: 20%;
		}
		.row4 {
			width: 20%;
		}
	}
}
